{% extends "layout.html" %}


{% block body %}

<h3>About</h3>
<hr>

<p>
        Hello. I am Ömer Bozan from Turkey.This webpage was constructed for my practising on Django. I am a molecular biologist and i have worked in an IT company as a project manager.I have alwasy been very keen to learn how to code and i took many programming lectures and data science lectures from Udemy and Coursera.I have certificated by Michingan University(on Python ) and IBM(on Data Science).This is my second  website project  by using Django. I want to improve myself in data science and programming.By using this webpage, people can register and upload their blog content.
</p>
{% endblock body %}
